<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda_empleado</title>
    <script src="/js/agenda_p.js" defer></script>
    <script src="https://kit.fontawesome.com/95789fc486.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="/css/agenda_emp.css">
    <script src="https://kit.fontawesome.com/95789fc486.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar">
        <div class="logo"><img src="/img/dashboardA/estetoscopio.png" alt="logo"></div>
        <ul class="menu">

            <div class="profile-emp">
                <img src="/img/dashboardE/nurse.png" alt="Foto de perfil del paciente" class="img-profile">
                <h2 class="emp-info" th:text="${ultimoAgendamiento[0]}">ID Empleado</h2>
            </div>

            <li class="active_a">
                <a href="#">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>Agenda</span>
                </a>
            </li>

            <li class="#">
                <a href="/perfilPaciente">
                    <i class="fa-solid fa-bed-pulse"></i>
                    <span>Paciente</span>
                </a>
            </li>

            <li class="#">
                <a href="/notaEnfermeria">
                    <i class="fa-solid fa-book-medical"></i>
                    <span>Nota de Enfermería</span>
                </a>
            </li>

            <li class="logout">
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Salir</span>
                </a>
            </li>    

        </ul>
    </div>

    <div class="main-content">

        <div class="header--wrapper">
            <div class="header-title">
                <span>Empleado</span>
                <h2 th:text="${ultimoAgendamiento[1]} + ' ' + ${ultimoAgendamiento[2]}">Nombre Empleado</h2>
            </div>
        
            <div class="header-details">
                <span>Turno</span>
                <h2 th:text="${ultimoAgendamiento[8]}">Tipo de turno</h2>
            </div>
        
            <div class="header-details">
                <span>Tipo de Servicio</span>
                <h2 th:text="${ultimoAgendamiento[7]}">No disponible</h2>
            </div>
        </div>
        

        <div class="calendar-container">

            <div class="wrapper">
                <header>
                    <p class="current-date" style="color: white;"></p>
                    <div class="icons">
                        <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Lun</li>
                        <li>Mar</li>
                        <li>Mie</li>
                        <li>Jue</li>
                        <li>Vie</li>
                        <li>Sab</li>
                        <li>Dom</li>
                    </ul>
                    <ul class="days"></ul>
                </div>
            </div>

            <!-- Datos de agendamiento -->
            <div class="datos"><br>
                <div class="titulo">
                    <h2 style="color: white;">Datos de Agendamiento</h2>
                </div>
                <br>
                <i class="fa-solid fa-calendar-day" style="color: white; font-size: 30px;"></i>
                <br>

                <div class="box-1">
                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[4]} + ' ' + ${ultimoAgendamiento[5]}">Nombre Paciente</div>
                    </div>

                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[3]}">ID Paciente</div>
                    </div>
                </div>

                <div class="box-2">
                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[7]}">Tipo de Servicio</div>
                    </div>
                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[8]}">Tipo de Turno</div>
                    </div>
                </div>

                <div class="box-3">
                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[9]}">Inicio de Turno</div>
                    </div>
                    <div class="caja-blanca">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[10]}">Fin de Turno</div>
                    </div>
                </div>

                <div class="box-4">
                    <div class="caja-blanca-2">
                        <div class="inform-calendar" th:text="${ultimoAgendamiento[6]}">Dirección</div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
<script>
    // Llama a la función renderCalendar después de cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        renderCalendar();
    });
</script>
</html>