<!-- http://localhost:8080/index -->
<!DOCTYPE html>
<lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2K</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/fe0aeb91ff.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- * Inicio -->
    <section class="inicio">
        <div class="container">
            <nav>
                <a href="/loginA"> 
                    <img src="/img/index/logo.png"  alt="logo" class="logo">    
                </a>
                <ul>
                <li><a href="#" class="active">Inicio</a></li>
                <li><a href="#servicio">Servicios</a></li>
                <li><a href="#nuestro">Nosotros</a></li>
                <li><a href="#planes">Planes</a></li>
                <li><a href="#contacto">Contáctenos</a></li>
                </ul>
            </nav>
            
            <div class="article">
                <h1>Agenda con nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    <br>Suscipit harum officiis sapiente unde doloremque omnis explicabo beatae facilis, 
                    <br>deserunt iste blanditiis placeat ab quod distinctio mollitia</p>
                
                    <h4><a href="/DatosPaciente" class="btn">Agenda tu Cita</a></h4>
                </div>

        </div>
    
    </section>

    <!-- * Servicios -->

    <section class="servicio" id="servicio">
        <article class="condicion">
            <article class="condicion-2">
                <h2>Contrata tu servicio</h2>
                <br>
                <p>Nuestro servicio es flexible y se ajusta a lo que cada paciente y su familia necesitan, para que la familia no tenga que cambiar su forma de vivir. Contamos con un grupo de profesionales que saben cómo cuidar a los pacientes con cariño, eficacia y calidad.</p>
                <div class="felcha_abajo">
                <a href="#servicio-2"><i class="fa-solid fa-down-long"></i></a>
                </div>
            </article>
            <div class="bordado"></div>
            <img src="/img/index/imagen-servicio.png"  class="imagen-s">

            </article>
    </section>
    <section class="servicio-2" id="servicio-2">
        <h1>Nuestros Servicios</h1>
        <div class="container-3">
            <div class="serv">
                <h3>Enfermería Domiciliaría</h3>
                <br>
                <img src="/img/index/icon/enfermeroE.png" height="90rem">
                <br><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="serv">
                <h3>Terapia Respiratoria</h3>
                <br>
                <img src="/img/index/icon/pulmonesP.png" height="90rem" >
                <br><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="serv">
                <h3>Fisioterapia</h3>
                <br><br>
                <img src="/img/index/icon/masajeM.png" height="90rem">
                <br><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="serv">
                <h3>Inyectología</h3>
                <br><br>
                <img src="/img/index/icon/jeringaJ.png" height="90rem">
                <br><br>
                <p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </section>

    <!-- *Nuestro -->
    <section class="nuestro" id="nuestro">
        <article class="nosotros">
            <article>
                <img src="/img/index/quienes-somos.png" class="quienes_somos">
                <div class="bordado-n"></div>
            </article>
            <article>
            <h2>¿Quiénes Somos?</h2>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Neque deleniti qui atque blanditiis ipsa nisi odio error beatae consequuntur minus 
                perspiciatis dolorem enim inventore voluptates, placeat reiciendis quisquam illum quidem?
            </p>    
            </article>
        </article> 
    </section>

    <!-- *Planes -->
    <section class="planes" id="planes">
        <h1>Planes</h1>
        <div class="cards">

            <div class="card-1">
                <div class="card__image-holder">
                  <img class="card__image" src="/img/index/tapabocaT.jpg" alt="tapaboca"/>
                </div>
                <div class="card-title">
                  <h2>
                    Plan Oro
                  </h2>
                </div>
                  <div class="card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam non nesciunt nihil, voluptatem enim blanditiis libero, amet officiis repudiandae fuga inventore natus esse reprehenderit suscipit sunt incidunt odit dolores?
                </div>
            </div>  
            
            <div class="card-2">
                <div class="card__image-holder">
                  <img class="card__image" src="/img/index/tapabocaT.jpg" alt="tapaboca"/>
                </div>
                <div class="card-title">
                  <h2>
                    Plan Plata
                  </h2>
                </div>
                  <div class="card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam non nesciunt nihil, voluptatem enim blanditiis libero, amet officiis repudiandae fuga inventore natus esse reprehenderit suscipit sunt incidunt odit dolores?
                </div>
            </div>  
        
            <div class="card-3">
              <div class="card__image-holder">
                <img class="card__image" src="/img/index/tapabocaT.jpg" alt="tapaboca"/>
              </div>
              <div class="card-title">
                <h2>
                    Plan Bronce
                </h2>
              </div>
                <div class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam non nesciunt nihil, voluptatem enim blanditiis libero, amet officiis repudiandae fuga inventore natus esse reprehenderit suscipit sunt incidunt odit dolores?
              </div>
            </div>  

    </section>

<!-- *Contacto -->
<section class="contacto" id="contacto">
    <hr class="divider">
    <h1>Contáctenos</h1>

    <div class="contacto-2">
    <div class="redes">
        <div class="info-contacto">
        <h2>Información contacto</h2>
        <p>+57 314 3759970</p>
        <p>e2kserviciosdeenfermeria@gmail.com</p>
        <br>
        <h2>Horario</h2>
        <p>
            Lunes a Sábado de 7:00 a.m. a 7:00 p.m.
            Domingos y festivos de 8:00 a.m. a 6:00 p.m.
        </p>

    </div>  
        <ul>
            <li class="facebook"><a href="https://m.facebook.com/profile.php?id=100083299991274&_rdr" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="instagram"><a href="https://www.instagram.com/e2k_serviciosdeenfermeria/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="whatsapp"><a href="https://api.whatsapp.com/message/XQQ7Y4SKGARNA1?autoload=1&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
            <li class="mapa"><a href="https://goo.gl/maps/aKdmsRontPzrypF17" target="_blank"><i class="fa-solid fa-map"></i></i></a></li>
        </ul>
    </div>
    </div>
    
    <hr class="linea">
        <div class="copy">
            <p>&copy; 2023 E2K Servicios de Enfermería. Todos los derechos reservados.</p>
        </div>

</section>    

</body>

</html>
